body {
  background-color: whitesmoke;
  font-size: 1rem;
}

h1 {
  margin: 5rem 0 2rem;
  text-align: center;
}

h2 {
  margin: 3rem 0;
  text-align: center;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.header-title {
  display: flex;
  align-items: flex-end;
}

.header-title > span {
  font-size: 5rem;
  transform: rotate(321deg);
  text-shadow: -5px 10px #8080808a;
  margin-right: 0.2rem
}

.keyboard-keys-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.keyboard-prompt {
  font-size: 2rem;
  text-align: center;
  border-bottom: 5px groove;
}

.key-table {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.25rem;
  border: 1px solid grey;
  border-radius: 0.25rem;
}

.mac-key-large {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 4rem;
  width: 7rem;

  justify-content: space-between;
  align-items: flex-end;

  margin: 0 2.5rem 0 0.25rem;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.no-results {
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
}

.options-container-buttons {
  display: flex;
  justify-content: space-around;
}

.options-container-radiogroup {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

.shortcut-description {
  background-color: lightblue;
  padding: 2rem;
  border-radius: 0.5rem;
}

.sub-description {
  text-align: center;
  font-style: italic;
  background-color: #80808038;
  border-left: 5px solid grey;
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.gh-logo-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.gh-logo-container a {
  position: absolute;
  top: 5px;
}
.triangle-top-right {
  width: 0;
  height: 0;
  border-top: 95px solid #152835;
  border-left: 95px solid transparent;
}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.0s steps(40, end)
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}